body {
	padding: 0px;
	margin: 0px;
}

.header {
	height: 50vw;
}

.header-left {
	background-image: url("../Photos/Header - Coffee Cup.png");
	height: 100%;
	width: 64%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    text-align: center;
	margin: 0px;
	font-family: 'Permanent Marker', cursive;
	font-size: 15vw;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.hero-text-small {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 10vw;
	padding: 0px;
	margin: 0px;
	position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header ul {
	font-family: 'Lato', sans-serif;;
	font-size: 1vw;
	color: #300c06;
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 3vw;
	top: 2.5vw;
}

.header ul li {
	display: inline;
	margin-right: 1.3vw;
	padding: 0 0.5vw;
}

.header ul a {
	text-decoration: none;
	color: #300c06;
}

.header ul a:hover {
	color: #eadfc0;
	background-color: #300c06;
}

.menu-background-item-1 {
	height: 0.7vw;
	width: 3.5vw;
	background-color: #eadfc0;
	position: absolute;
	top: 3.5vw;
	left: 3.2vw;
}

.menu-background-item-2 {
	height: 0.7vw;
	width: 3.5vw;
	background-color: #eadfc0;
	position: absolute;
	top: 3.5vw;
	left: 9vw;
}

.menu-background-item-3 {
	height: 0.7vw;
	width: 6vw;
	background-color: #eadfc0;
	position: absolute;
	top: 3.5vw;
	left: 14.5vw;
}

.header-right {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 50vw;
	width: 36%;
}

.top {
	background-color: #300c06;
	height: 50%;
}

.top-text {
	font-family: 'Lato', sans-serif;	color: white;
	font-size: 2vw;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 25%;
    transform: translate(-50%, -50%);
}

.bottom {
	background-color: #da4e31;
	height: 50%;
}

.bottom-text {
	font-family: 'Lato', sans-serif;	color: #300c06;
	font-size: 2vw;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 75%;
    transform: translate(-50%, -50%);
}


.cart {
	height: 2vw;
	position: absolute;
	left: 0.2vw;
	bottom: 0.3vw;
}

.cart-background {
	background-color: #eadfc0;
	width: 2vw;
	height: 1vw;
	position: absolute;
	top: 3.2vw;
	right: 2.5vw;
}

.main-body {
	text-align: center;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	margin: 10vw 40vw 2vw;
	font-size: 5vw;
	color: #300c06;
	background-color: #eadfc0;
	height: 4vw;
	line-height: 0vw;
}

h2 {
	font-family: 'Lato', sans-serif;;
	font-size: 1.3vw;
	color: #300c06;
	
}

.main-body ul {
	list-style: none;
	list-style-position: inside;
	padding: 0px;
	margin: 0px;
	font-family: 'Lato', sans-serif;;
	color: #300c06;
	font-size: 1.2vw;
	text-align: left;
}

.main-body ul li {
	padding: 0.4vw 0;
}

.drink-menu {
	width: 70vw;
	height: 14vw;
	margin: 3vw auto;
}

.drink-menu-column {
	display: inline-block;
	width: 18vw;
	height: 3vw;
	margin: 0 1vw;
}

.drink-menu-column-p {
	vertical-align: top;
	display: inline-block;
	width: 28vw;
	height: 6vw;
	margin-right: 3.5vw;
	margin-left: 1vw;
	margin-bottom: 1.2vw;
	text-align: left;
	font-size: 1.4vw;
}

.drink-menu-column-p p {
	padding: 0px;
	margin: 0px;
	font-family: "Lato Light", "Lato Black";
}

.drink-menu-column-right {
	display: inline-block;
	width: 10vw;
	height: 2vw;
	margin: 0 1vw;
}

.drink-menu-column-right ul {
	text-align: right;
}

.photo-banner-box {
	background-color: #eadfc0;
	margin-left: 22vw;
	margin-top: 14vw;
	height: 22vw;
	margin-bottom: 4vw;
	color: #300c06;
	font-family: 'Lato', sans-serif;;
}

.photo-banner img {
	height: 28vw;
	float: left;
	position: absolute;
	left: 8.5vw;
	top: 89vw;
}

.banner-button img {
	height: 1.4vw;
	position: absolute;
	top: 1.5vw;
	left: 11.5vw;
}

.banner-button {
	position: absolute;
	top: 113.5vw;
	right: 8vw;
	background-color: #300c06;
	padding: 0.8vw;
	width: 11.5vw;
	text-align: left;
	font-size: 1.5vw;
}

.photo-banner-box a {
	text-decoration: none;
	color: #eadfc0;
}

.banner-button p {
	margin: 0px;
}

.stumptown {
	font-size: 4vw;
	background-color: #da4e31;
	width: 50vw;
	position: absolute;
	left: 42vw;
	top: 105vw;
	height: 3vw;
	line-height: 0vw;
}

.proudly {
	font-size: 1.5vw;
	position: absolute;
	top: 102vw;
	left: 44.8vw;
}

.photo-banner-box2 {
	background-color: #eadfc0;
	margin-right: 32vw;
	margin-top: 15vw;
	height: 23.5vw;
	margin-bottom: 4vw;
	color: #300c06;
	font-family: 'Lato', sans-serif;;
}

.photo-banner2 img {
	height: 22vw;
	float: left;
	position: absolute;
	right: 16vw;
	top: 166vw;
}

.banner-button2 img {
	height: 1.4vw;
	position: absolute;
	top: 1.5vw;
	left: 11.5vw;
}

.banner-button2 {
	position: absolute;
	top: 188vw;
	left: 18vw;
	background-color: #300c06;
	padding: 0.8vw;
	width: 11.5vw;
	text-align: left;
	font-size: 1.5vw;
}

.photo-banner-box2 a {
	text-decoration: none;
	color: #eadfc0;
}

.banner-button2 p {
	margin: 0px;
}

.stumptown2 {
	font-size: 1.5vw;
	text-align: left;
	font-family: "Lato Light", "Lato Black";
	width: 31vw;
	position: absolute;
	left: 18vw;
	top: 176.5vw;
	color: #300c06;
}

.proudly2 {
	font-size: 2.2vw;
	position: absolute;
	top: 171.5vw;
	left: 18vw;
}

.map {
	width: 62vw;
	position: absolute;
	left: 18vw;
	top: 200vw;
	margin-bottom: 6vw;
}

.map-shadow {
	background-color: #eadfc0;
	width: 68vw;
	height: 29vw;
	position: absolute;
	right: 0vw;
	top: 205vw;
}

.address {
	font-size: 2.2vw;
	font-family: 'Lato', sans-serif;;
	background-color: #da4e31;
	position: absolute;
	top: 220vw;
	right: 22vw;
	height: 1.8vw;
	line-height: 0vw;
}

.footer {
	background-color: #300c06;
	width: 88%;
	position: absolute;
	top: 234vw;
	color: white;
	font-family: 'Lato', sans-serif;;
	font-size: 1.2vw;
	padding: 2vw 6vw;
}

.footer p {
	margin: 0.5
}

.photography {
	position: absolute;
	right: 6vw;
	top: 3vw;
}

.visual-hunt {
	font-family: "Lato Light", "Lato Black";
	position: absolute;
	top: 5.5vw;
	right: 6vw;
}

.stump-footer {
	font-family: "Lato Light", "Lato Black";
	position: absolute;
	top: 7vw;
	right: 6vw;
}

.sandwiches {
	width: 30vw;
	height: 4vw;
	line-height: 0vw;
	position: relative;
	left: -5.5vw;
}


/** For Shop Page */

.shop-header {
	height: 34vw;
}


.shop-header-left {
	background-image: url("../Photos/Header - Coffee Cup - Wide.png");
	height: 100%;
	width: 64%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.shop-hero-text {
    text-align: center;
	margin: 0px;
	font-family: 'Permanent Marker', cursive;
	font-size: 11vw;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.shop-hero-text-small {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 7vw;
	padding: 0px;
	margin: 0px;
	position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop-header ul {
	font-family: 'Lato', sans-serif;;
	font-size: 1vw;
	color: #300c06;
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 3vw;
	top: 2.5vw;
}


.shop-header ul li {
	display: inline;
	margin-right: 1.3vw;
	padding: 0 0.5vw;

}

.shop-header a {
	text-decoration: none;
	color: #300c06;
}

.shop-header ul a:hover {
	color: #eadfc0;
	background-color: #300c06;
}

.shop-header-right {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 34vw;
	width: 36%;
}

.shop-top {
	background-color: #300c06;
	height: 100%;
}

.shop-top-text {
	font-family: 'Lato', sans-serif;;
	color: white;
	font-size: 3vw;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 45%;
    transform: translate(-50%, -50%);
}

.top-text-small {
	font-size: 1.2vw;
	line-height: 1vw;
}

.add-to-cart-column {
	display: inline-block;
	width: 21vw;
	height: 3vw;
	margin-left: 9vw;
	text-align: center;
}

.add-to-cart {
	font-family: 'Lato', sans-serif;;
	font-size: 1.2vw;
	color: #300c06;
	text-align: center;
}

.add-to-cart p {
	background-color: #da4e31;
	height: 1vw;
	line-height: 0vw;
	width: 10vw;
}

.add-to-cart a {
	color: #300c06;
	text-decoration: none;
}

.add-to-cart p:hover {
	color: #eadfc0;
	text-decoration: none;
	background-color: #300c06;
}

.coffee-menu {
	width: 65vw;
	margin: auto;
}

.coffee-menu img {
	width: 23vw;
	margin-right: 8vw;
}

.shop-drink-menu-column-p {
	vertical-align: top;
	display: inline-block;
	width: 28vw;
	height: 1vw;
	margin-right: 3.5vw;
	margin-left: 1vw;
	margin-bottom: 1.2vw;
	text-align: left;
	font-size: 1.4vw;
}

.shop-drink-menu-column-p p {
	padding: 0px;
	margin: 0px;
	font-family: "Lato Light", "Lato Black";
}

.shop-photo-banner {
	background-color: #eadfc0;
	margin-left: 22vw;
	margin-top: 10vw;
	height: 22vw;
	margin-bottom: 4vw;
	color: #300c06;
	font-family: 'Lato', sans-serif;;
}

.shop-photo-banner img {
	height: 25vw;
	float: left;
	position: absolute;
	left: 15vw;
	top: 99vw;
}

.shop-photo-banner-title {
	text-align: left;
	position: absolute;
	font-size: 2.5vw;
	top: 108vw;
	left: 37.5vw;
}

.shop-photo-banner-text {
	text-align: left;
	width: 42vw;
	font-size: 1.7vw;
	font-family: "Lato Light", "Lato Black";
	position: absolute;
	top: 114vw;
	left: 38vw;
}

.equipment h1 {
	width: 28vw;
	font-family: 'Permanent Marker', cursive;
	margin: 10vw 35vw 2vw;
	font-size: 5vw;
	color: #300c06;
	background-color: #eadfc0;
	height: 4vw;
	line-height: 0vw;
}

.shop-drink-menu-column-p-single {
	vertical-align: top;
	display: inline-block;
	width: 32vw;
	height: 8vw;
	margin-right: 3.5vw;
	margin-left: 5vw;
	margin-bottom: 1.2vw;
	text-align: left;
	font-size: 1.4vw;
}

.shop-drink-menu-column-p-single p {
	padding: 0px;
	margin: 0px;
	font-family: "Lato Light", "Lato Black";
}

.coffee-menu-single img{
	width: 38vw;
}

.coffee-menu-double {
	width: 65vw;
	margin: auto;
}

.coffee-menu-double img {
	width: 16vw;
	margin-right: 8vw;
	margin-left: 8vw
}

.add-to-cart-double {
	font-family: 'Lato', sans-serif;;
	font-size: 1.2vw;
	color: #300c06;
	text-align: center;
	position: relative;
	top: 2.5vw;
}

.add-to-cart-double p {
	background-color: #da4e31;
	height: 1vw;
	line-height: 0vw;
	width: 10vw;
}

.add-to-cart-double a {
	color: #300c06;
	text-decoration: none;
}

.add-to-cart-double p:hover {
	color: #eadfc0;
	text-decoration: none;
	background-color: #300c06;
}

.shop-photo-banner-2 {
	background-color: #eadfc0;
	margin-right: 25vw;
	margin-top: 10vw;
	height: 23vw;
	margin-bottom: 4vw;
	color: #300c06;
	font-family: 'Lato', sans-serif;;
}

.shop-photo-banner-2 img {
	height: 25vw;
	float: left;
	position: absolute;
	right: 10vw;
	top: 225vw;
}

.shop-photo-banner-title-2 {
	text-align: left;
	position: absolute;
	font-size: 2.5vw;
	top: 234vw;
	left: 17.5vw;
}

.shop-photo-banner-text-2 {
	text-align: left;
	width: 33vw;
	font-size: 1.7vw;
	font-family: "Lato Light", "Lato Black";
	position: absolute;
	top: 240vw;
	left: 18vw;
}

.map-shop {
	width: 62vw;
	position: absolute;
	left: 18vw;
	top: 260vw;
	margin-bottom: 6vw;
}

.map-shadow-shop {
	background-color: #eadfc0;
	width: 68vw;
	height: 29vw;
	position: absolute;
	right: 0vw;
	top: 265vw;
}

.address-shop {
	font-size: 2.2vw;
	font-family: 'Lato', sans-serif;;
	background-color: #da4e31;
	position: absolute;
	top: 282vw;
	right: 22vw;
	height: 1.8vw;
	line-height: 0vw;
}

.footer-shop {
	background-color: #300c06;
	width: 88%;
	position: absolute;
	top: 294vw;
	color: white;
	font-family: 'Lato', sans-serif;;
	font-size: 1.2vw;
	padding: 2vw 6vw;
}

.footer-shop p {
	margin: 0.5
}

/** For Cart Page */

.totalSubtotal {
	height: 9vw;
	width: 29vw;
	float: right;
	background-color: #eadfc0;
	padding: 2.5vw 15vw 2.5vw 2.5vw;
	text-align: left;
	font-family: 'Lato', sans-serif;;
	font-size: 1.3vw;
	margin: 0 0 10vw 0;
}

.subtotal {
	padding: 0vw;
	margin: 0vw;	
	width: 7vw;
}

.total {
	font-family: 'Lato', sans-serif;;
	font-size: 1.3vw;
	padding: 0vw;
	margin: 0vw;
	width: 5vw;
}

.red-line-total {
	height: 0.3vw;
	width: 100%;
	background-color: #da4e31;
	margin: 2vw 0vw;;
}

.subtotal-price {
	float: right;
	position: relative;
	top: -3.2vw;
	right: 2vw;
}

.total-price {
	float: right;
	position: relative;
	top: -3.2vw;
	right: 2vw;
}

.cart-list {
	font-family: 'Lato', sans-serif;;
	font-size: 1.3vw;
	text-align: left;
	width: 70vw;
	margin: 4vw auto 0vw;
	background-color: #da4e31;
	height: 1vw;
	line-height:0vw;
}
.cart-item-title {
	width: 40vw;
	display: inline-block;
	position: relative;
	top: -1.5vw;
	left: 1vw;
}

.cart-quantity {
	width: 23vw;
	display: inline-block;
	position: relative;
	top: -1.5vw;
	
}

.cart-total {
	width: 5vw;
	display: inline-block;
	position: relative;
	top: -1.5vw;
}

.cart-overview {
	width: 72vw;
	margin: 1vw auto;
}

.cart-item {
	font-family: 'Lato', sans-serif;;
	font-size: 1.3vw;
	text-align: left;
	position: relative;
	left: 1vw;
}

.cart-item p {
	margin: 0.8vw 0;
}

.item-name {
	width: 43vw;
	display: inline-block;
	position: relative;
	left: 1vw;
}

.item-quantity {
	width: 20vw;
	display: inline-block;
	position: relative;

}

.item-total {
	width: 5vw;
	display: inline-block;
	position: relative;
}

.cart-line {
	height: 0.2vw;
	width: 70vw;
	background-color: #da4e31;
	margin: auto;
}

.cart-item img {
	width: 1.3vw;
}

.billing {
	margin: auto;
	clear: both;
}

input[type=text] {
	width: 31vw;
	height: 1vw;
	margin-bottom: 1vw;
	margin-left: 1vw;
	margin-right: 1vw;
	padding: 1.3vw;
	font-size: 1.2vw;
	font-family: 'Lato', sans-serif;;
	background-color: #dbdbdb;
	border: none;
}

form {
	width: 80vw;
	margin: 4vw auto;
}

.payment-form {
	text-align: left;
	width: 72vw;
}

.payment-form img {
	width: 3.6vw;
	position: relative;
	top: 1vw;
}

#creditcardnumber {
	width: 57vw;
}

.purchase {
	text-decoration: none;
	color: #300c06;
	font-family: 'Lato', sans-serif;;
}

.purchase p {
	height: 1.5vw;
	line-height: 0vw;
	background-color: #da4e31;
	width: 24vw;
	margin: 3vw auto 5vw;	
}

.purchase:hover p {
	color: #dbdbdb;
}

.thank-you {
	background-color: #eadfc0;
	width: 75vw;
	height: 22vw;
	text-align: left;
	position: relative;
	top: 15vw;
}

.thank-you-title {
	font-family: 'Lato', sans-serif;;
	font-size: 2.4vw;
	position: relative;
	bottom: 22vw;
	left: 15vw;
}

.thank-you-text {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	font-size: 1.8vw;
	width: 35vw;
	position: relative;
	bottom: 23vw;
	left: 15vw;
}

.thank-you img {
	width: 34vw;
	position: relative;
	bottom: 6vw;
	left: 55vw;
}

.map-cart {
	width: 70vw;
	position: relative;
	top: 0vw;
	margin-bottom: 6vw;
}

.map-shadow-cart {
	background-color: #eadfc0;
	width: 68vw;
	height: 29vw;
	position: relative;
	top: 45vw;
	left: 32vw;
}

.address-cart {
	font-size: 2.2vw;
	font-family: 'Lato', sans-serif;;
	background-color: #da4e31;
	width: 31vw;
	position: relative;
	top: -8vw;
	left: 50vw;
	height: 1.8vw;
	line-height: 0vw;
}

.footer-cart {
	background-color: #300c06;
	width: 88%;
	position: relative;
	top: 0vw;
	color: white;
	font-family: 'Lato', sans-serif;;
	font-size: 1.2vw;
	padding: 2vw 6vw;
}

.footer-cart p {
	margin: 0.5
}

.photography-cart {
	position: absolute;
	right: 6vw;
	top: 3vw;
}

.visual-hunt-cart {
	font-family: "Lato Light", "Lato Black";
	position: absolute;
	top: 5.5vw;
	right: 6vw;
}

.stump-footer-cart {
	font-family: "Lato Light", "Lato Black";
	position: absolute;
	top: 7vw;
	right: 6vw;
}

/** For Contact Page */

#message {
	width: 67vw;
	height: 10vw;
}

.submit {
	text-decoration: none;
	color: #300c06;
	font-family: 'Lato', sans-serif;;
}

.submit p {
	height: 1.5vw;
	line-height: 0vw;
	background-color: #da4e31;
	width: 10vw;
	margin: 3vw auto 5vw;
}

.submit:hover p {
	color: #dbdbdb;
}

.map-contact {
	width: 62vw;
	position: absolute;
	left: 18vw;
	top: 90vw;
	margin-bottom: 6vw;
}

.map-shadow-contact {
	background-color: #eadfc0;
	width: 68vw;
	height: 29vw;
	position: absolute;
	right: 0vw;
	top: 95vw;
}

.address-contact{
	font-size: 2.2vw;
	font-family: 'Lato', sans-serif;;
	background-color: #da4e31;
	position: absolute;
	top: 112vw;
	right: 22vw;
	height: 1.8vw;
	line-height: 0vw;
}

.footer-contact {
	background-color: #300c06;
	width: 88%;
	position: absolute;
	top: 124vw;
	color: white;
	font-family: 'Lato', sans-serif;;
	font-size: 1.2vw;
	padding: 2vw 6vw;
}

.footer-contact p {
	margin: 0.5
}

